# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NUnit / Test results
TestResults/
*.trx

# Selenium
chromedriver*
geckodriver*
msedgedriver*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Rider
.idea/